<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-toolbar style="height: 90px; justify-content: space-between; background-color: #fcfcfc; position: fixed; z-index: 10;border-bottom: 1px rgba(155,155,155,0.79) solid;">
    <span routerLink="/" style="cursor: pointer;font-family: 'Arial';font-weight: bold;margin-left: 20px; align-items: center;display: flex; color: #3f51b4">
        <img src="assets/imgcv/Capture.PNG" style="width: 90px; height: 90px">
    </span>

    <div *ngIf="role != 'Admin'">
        <input type="text" placeholder="Chercher une offre" id="form1" class="form-control form-icon-trailing" style="width: 600px"/>
    </div>

    <div style="display: flex">
      <button mat-button routerLink="/acceuill" >
        <img src="assets/cv.png" style="width: 20px; height: 20px">
        <span style="margin-left: 5px; color: #3f51b4; font-weight: bold">Acceuill</span>
      </button>
      <button mat-button routerLink="/contact" >
        <span style="margin-left: 5px; color: #3f51b4; font-weight: bold">Contact</span>
      </button>
        <button mat-button routerLink="/page1" >
            <img src="assets/cv.png" style="width: 20px; height: 20px">
            <span style="margin-left: 5px; color: #3f51b4; font-weight: bold">Articles</span>
        </button>
        <button mat-button (click)="afficherOffre()">
            <mat-icon color="primary"><span class="material-symbols-outlined">work</span></mat-icon>
            <span style="margin-left: 5px; color: #3f51b4; font-weight: bold">Offres</span>
        </button>


        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf=" isLogedIn() && (role == 'Condidat' || role == 'Recruteur')">
            <img alt=" " [src]="user.image.url" style="width: 30px; height: 30px; border-radius: 50%">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="width: 150px;display: flex;align-items: center;" (click)="afficherProfile()">
                <mat-icon color="primary"><span class="material-symbols-outlined">account_circle</span></mat-icon>
                <span style="color: #3f51b4; font-weight: bold">Profile</span>
            </button>
            <button mat-menu-item style="width: 150px; display: flex;align-items: center;" (click)="logout()">
                <mat-icon color="primary"><span class="material-symbols-outlined">logout</span></mat-icon>
                <span style="color: #3f51b4; font-weight: bold">Deconnexion</span>
            </button>
        </mat-menu>


        <button mat-button *ngIf=" !isLogedIn()" (click)="openDialog()">
            <mat-icon color="primary"><span class="material-symbols-outlined">login</span></mat-icon>
            <span style="margin-left: 10px; color: #3f51b4;font-weight: bold">Ce connecter</span>
        </button>

        <button mat-menu-item *ngIf="isLogedIn() && role == 'Admin'"
                style="width: 150px; display: flex;align-items: center;" routerLink="/users">
            <mat-icon color="primary"><span class="material-symbols-outlined">group</span></mat-icon>
            <span style="color: #3f51b4; font-weight: bold">Utilisateurs</span>
        </button>
        <button mat-menu-item *ngIf="isLogedIn() && role == 'Admin'"
                style="width: 150px; display: flex;align-items: center;" routerLink="/statistiques">
            <mat-icon color="primary">
                <span class="material-symbols-outlined">monitoring</span>
            </mat-icon>
            <span style="color: #3f51b4; font-weight: bold">Statistiques</span>
        </button>
        <button mat-menu-item *ngIf="isLogedIn() && role == 'Admin'"
                style="width: 150px; display: flex;align-items: center;"
                (click)="logout()">
            <mat-icon color="primary"><span class="material-symbols-outlined">logout</span></mat-icon>
            <span style="color: #3f51b4; font-weight: bold">Deconnexion</span>
        </button>

    </div>

</mat-toolbar>
