
<div class="page-content page-container" id="page-content" style="margin-top: 130px;margin-left: 150px">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-sm-12">
        <!-- Draggable default card start -->
        <div class="card">
          <div class="card-header">
            <h1 style="text-align: center;color: #3e50b0">Liste des Articles</h1>
          </div>
          <div class="card-block">
            <div class="row" id="sortable">
              <div class="col-md-3" style="">
                <div class="card-sub"> <img class="card-img-top img-fluid" src="https://i.imgur.com/QwIYa8y.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Product 1</h4>
                    <p class="card-text">For what reason would it be advisable for me to think about business content?</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3" style="">
                <div class="card-sub"> <img class="card-img-top img-fluid" src="https://i.imgur.com/QwIYa8y.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Product 2</h4>
                    <p class="card-text">For what reason would it be advisable for me to think about business content.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3" draggable="false" style="">
                <div class="card-sub"> <img class="card-img-top img-fluid" src="https://i.imgur.com/QwIYa8y.jpg" alt="Card image cap" draggable="false">
                  <div class="card-block">
                    <h4 class="card-title">Product 3</h4>
                    <p class="card-text">For what reason would it be advisable for me to think about business content</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3" style="">
                <div class="card-sub"> <img class="card-img-top img-fluid" src="https://i.imgur.com/IglVN9o.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Product 4</h4>
                    <p class="card-text">For what reason would it be advisable for me to think about business content</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- Draggable default card start -->
      </div>
    </div>
  </div>
</div>
